language: node_js
node_js:
    - "8"
before_script:
    - npm i -g gulp-cli
    - npm run start:server
    - ln -s $(which phantomjs) ./node_modules/.bin/phantom
after_script:
    - npm run stop:server
script:
    - npm test
    - npm run build
    - npm run test:browser
cache:
    directories:
        - "node_modules"
